body {
    background-color: #F5F5F5;  /* https://material.io/guidelines/style/color.html#color-color-palette */
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

:local(.mainContainer) {
    text-align: left;
    padding: 16px;
    width: 400px;
}

