:local(.inputContainer) {
  display: flex;
}

:local(.addTodoButton) {
  background-color: rgba(0, 127, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 2px;
  cursor: pointer;
  height: 42px;
  padding: 0 16px;
}

:local(.addTodoButton:hover) {
  background-color: rgba(0, 127, 255, 0.1);
}

:local(.addTodoButton:active) {
  background-color: rgba(0, 127, 255, 0.2);
}

:local(.inputTodoContent) {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  flex: auto;
  height: 30px;
  margin-right: 16px;
  padding: 5px 10px;
}
